<div class = "wrapper">
    <app-management-sidebar></app-management-sidebar>
    <div class="wrap-management">
        <app-management-navbar></app-management-navbar>
        <div class="add-tour">
            <div class="title">Thêm Tour mới</div>
            <div class="add-tour-list">
                <div class="add-tour-item">
                    <div>Tên Tour(*)
                        <input [(ngModel)]="formTour.tourName" placeholder="Điền tên Tour" (keypress)="onKeyPress($event)" #tourName = ngModel required >
                        <small class="error"  *ngIf="!tourName.valid">Tên Tour còn trống </small>
                    </div>
                    <div >Ngày khởi hành(*)
                        <input [(ngModel)]="formTour.departureDate" type="date" #tourDepart = ngModel required [min]="currentDate">
                        <small  class="error" *ngIf="!tourDepart.valid">Ngày khởi hành còn trống </small>
                    </div>
                    <div>Thời gian Tour(*)
                        <select [(ngModel)]="formTour.tourDateId" #tourDt = ngModel required>
                            <option *ngFor="let date of tourDate" [value]="date.tourDateId">
                                {{date.day}} ngày {{date.night}} đêm
                            </option>
                        </select>
                        <small  class="error" *ngIf="!tourDt.valid">Thời gian Tour còn trống </small>
                    </div>
                    <div>Địa điểm(*)
                        <select [(ngModel)]="formTour.tourPlace" #tourPlace= ngModel required>
                            <option *ngFor="let loc of location.data">{{loc.name}}</option>
                        </select>
                        <small  class="error" *ngIf="!tourPlace.valid">Địa điểm còn trống </small>
                    </div>
                    <div>
                        Loại hình du lịch(*)
                        <select [(ngModel)]="formTour.tourTypeId" #tourTp = ngModel required>
                            <option *ngFor="let type of tourType" [value]="type.tourTypeId">
                                {{type.name}}
                            </option>
                        </select>
                        <small  class="error" *ngIf="!tourTp.valid">Loại hình du lịch còn trống </small>
                    </div>
                    
                    <div  >Giá Tour(*)
                        <input  [(ngModel)]="formTour.tourPrice" #tourPrice = ngModel required>
                        <small  class="error" *ngIf="!tourPrice.valid">Giá Tour còn trống </small>
                    </div>
                    <div>Chính sách(*)
                        <select [(ngModel)]="formTour.policyId" #tourPly= ngModel required>
                            <option *ngFor="let type of tourPolicy" [value]="type.policyId">
                                {{type.policyName}}
                            </option>
                        </select>
                        <small  class="error" *ngIf="!tourPly.valid">Chính sách còn trống </small>
                    </div>
                </div>
                

                <div>
                    <div class="describe-title">Mô tả</div>
                    <ckeditor [editor]="Editor"  [(ngModel)]="formTour.tourDescription" ></ckeditor>
                    
                </div>
               <div>
                <div class="list-img-title">Ảnh minh họa</div>
                    <input type="file" (change)="onFileSelected($event)" multiple>
                </div>
                <div class="list-img-item">
                    <img *ngFor="let url of imageUrls"  [src] = "url" >
                    
                </div>
                <input hidden [(ngModel)]="formTour.tourStatus" value="Running">
                <input hidden [(ngModel)]="formTour.createDate" [value]="dateNow">
                <button *ngIf="!tourName.valid" disabled>Thêm Tour mới</button>
                <button *ngIf="tourName.valid" (click)="createTour(formTour)">Thêm Tour mới</button>
            </div>
            
        </div>
      
    </div>
   
</div>

