<div class = "wrapper">
    <app-management-sidebar></app-management-sidebar>
    <div class="wrap-management">
        <app-management-navbar></app-management-navbar>
        <div class="add-tour">
            <div class="title">Thêm Tour mới</div>
            <div class="add-tour-list">
                <div class="add-tour-item">
                    <div>Tên Tour
                        <input placeholder="Điền tên Tour">
                    </div>
                    <div>Ngày khởi hành
                        <input type="date">
                    </div>
                    <div>Thời gian Tour
                        <select>
                            <option *ngFor="let date of tourDate" [value]="date.id">
                                {{date.day}} ngày {{date.night}} đêm
                            </option>
                        </select>
                    </div>
                    <div>Địa điểm
                        <select>
                            <option *ngFor="let loc of location.data" [value]="loc.id">{{loc.name}}</option>
                        </select>
                    </div>
                    <div>
                        Loại hình du lịch
                        <select>
                            <option>
                                1
                            </option>
                        </select>
                    </div>
                    <div>Phương tiện
                        <select>
                            <option>1</option>
                        </select>
                    </div>
                    
                    <div>Giá Tour
                        <input>
                    </div>
                    <div>Quy định
                        <select>
                            <option>1</option>
                        </select>
                    </div>
                </div>
                

                <div>
                    <div class="describe-title">Mô tả</div>
                    <ckeditor [editor]="Editor"  [(ngModel)]="data" ></ckeditor>
                    
                </div>
               <div>
                <div class="list-img-title">Ảnh minh họa</div>
                    <input type="file" (change)="onFileSelected($event)" multiple>
                </div>
                <div class="list-img-item">
                    <img *ngFor="let url of imageUrls"  [src] = "url" >
                    
                </div>
              
                <button>Thêm Tour mới</button>
            </div>
            
        </div>
      
    </div>
   
</div>

