<div class = "wrapper">
    <app-management-sidebar></app-management-sidebar>
    <div class="wrap-management">
        <app-management-navbar></app-management-navbar>
        <div class="edit-tour">
            <div class="title">Sửa thông tin tour</div>
            <div class="edit-tour-list" >
                <div class="edit-tour-item">
                    <div>Tên Tour(*)
                        <input [(ngModel)]="formTour.tourName"  (keypress)="onKeyPress($event)" #tourName = ngModel required>
                        <small class="error"  *ngIf="!tourName.valid">Tên Tour còn trống </small>
                    </div>
                    <div >Ngày khởi hành(*)
                        <input [(ngModel)]="formTour.departureDate" type="date">
                    </div>
                    <div>Thời gian Tour(*)
                        <select [(ngModel)]="formTour.tourDateId">
                            <option *ngFor="let date of tourDate" [value]="date.tourDateId">
                                {{date.day}} ngày {{date.night}} đêm
                            </option>
                        </select>
                    </div>
                    <div>Địa điểm(*)
                        <select [(ngModel)]="formTour.tourPlace">
                            <option *ngFor="let loc of location.data" [value]="loc.id">{{loc.name}}</option>
                        </select>
                    </div>
                    <div>
                        Loại hình du lịch(*)
                        <select [(ngModel)]="formTour.tourTypeId">
                            <option *ngFor="let type of tourType" [value]="type.tourTypeId">
                                {{type.name}}
                            </option>
                        </select>
                    </div>
                    
                    <div >Giá Tour(*)
                        <input [(ngModel)]="formTour.tourPrice" type="number" #tourPrice = ngModel required>
                        <small  class="error" *ngIf="!tourPrice.valid">Giá Tour còn trống </small>
                    </div>
                    <div>Chính sách(*)
                        <select [(ngModel)]="formTour.policyId">
                            <option *ngFor="let type of tourPolicy" [value]="type.policyId">
                                {{type.policyName}}
                            </option>
                        </select>
                    </div>
                </div>
                

                <div>
                    <div class="describe-title">Mô tả</div>
                    <ckeditor [editor]="Editor"  [(ngModel)]="formTour.tourDescription" ></ckeditor>
                    
                </div>
               <div>
                <div class="list-img-title">Ảnh minh họa</div>
                    <input type="file" (change)="onFileSelected($event)" multiple>
                </div>
                <div class="list-img-item">
                    <div class="item" *ngFor="let url of imageUrls,let i = index">
                        <div class="iconClose" (click)="closeImg(i)"> <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px; height: 20px" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></div>
                        
                        <img [src] = "url" >
                    </div>
                   
                </div>
                <input hidden [(ngModel)]="formTour.tourStatus" value="Hoạt động">
                <input hidden [(ngModel)]="formTour.createDate" [value]="dateNow">
                <button (click)="editTour(formTour)">Thêm Tour mới</button>
            </div>
            
        </div>
      
    </div>
   
</div>

