.wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    background-color: #EEEEEE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}