<app-site-navbar></app-site-navbar>
<div class="wrapper">
    <div class="wrapper-item">
        <div class="filter">
            <div class="filter-header" *ngIf="filterForm.place == ''; else hasLoc ">
                Tất cả điểm tham quan 
            </div>
          
            <ng-template #hasLoc>
                <div class="filter-header">Điểm tham quan của {{filterForm.place}}</div>
            </ng-template>
            <div class="filter-location">
                <select [(ngModel)]="filterForm.place" (ngModelChange)="locationChange($event)">
                    <option value="">Tất cả</option>
                    <option *ngFor="let loc of location.data">{{loc.name}}</option>
                </select>
            </div>
            <div class="search">
                <div><input [(ngModel)]="filterForm.name" (ngModelChange)="nameChange($event)" placeholder="Tìm kiếm bằng tên Tour"></div>
                <div><input [(ngModel)]="filterForm.departureDate" (ngModelChange)="dateChange($event)" type="date" placeholder="Nhập ngày"></div>
            </div>
            <div class="filter-item">
                <div class="filter-item-header" >Lọc kết quả:</div>
                <div class="item">
                    <div class="item-header" >Loại du lịch</div>
                    <div *ngFor="let type of tourType; let i = index " ><input [checked]="listChecked[i]" (click)="selectType(listChecked[i],type.tourTypeId,i)" type="checkbox">{{type.name}}</div>
                </div>
                <div class="item">
                    <div class="item-header">Xếp hạng sao</div>
                    <div><input [(ngModel)]="isRate5" (change)="rateChange(5, isRate5)"  type="checkbox">5 sao</div>
                    <div><input [(ngModel)]="isRate4" (change)="rateChange(4, isRate4)"  type="checkbox">4 sao trở lên</div>
                    <div><input [(ngModel)]="isRate3" (change)="rateChange(3, isRate3)"  type="checkbox">3 sao trở lên</div>
                </div>
                <div class="item">
                    <div class="item-header">Giá</div>
                    <div><input [(ngModel)]="isChange3" (change)="priceChange(3, isChange3)" type="checkbox">Trên 10.000.000</div>
                    <div><input [(ngModel)]="isChange2" (change)="priceChange(2, isChange2)"type="checkbox">5.000.000 đến 10.000.000</div>
                    <div><input [(ngModel)]="isChange1" (change)="priceChange(1, isChange1)"type="checkbox">0 đến 5.000.000</div>
                </div>
            </div>
        </div>
        <div class="tour-list">
            <app-tour-filter [listType]="listTypeChange" [tourName]="filterForm.name" [tourDate]="filterForm.departureDate" [tourLocation]="filterForm.place" [tourRate]="filterForm.tourRate" [tourPrice]="price"></app-tour-filter>
      
        </div>
    </div>
    
</div>

