<div class = "wrapper">
    <app-management-sidebar></app-management-sidebar>
    <div class="wrap-management">
        <app-management-navbar></app-management-navbar>
        <div class="statistic">
            <div class="top">
                <div style="background-color: #EF9C66; color: white; font-weight: 600;">Số Tour: {{totalItem}}</div>
                <div style="background-color: #FCDC94; color: white; font-weight: 600;">Đơn đặt Tour: {{listOrder.length}}</div>
                <div style="background-color: #78ABA8; color: white; font-weight: 600;">Doanh thu: {{revenue}} </div>
            </div>
            <div class="bottom">
                <div class="filter"> 
                    <select style="padding: 10px;" [(ngModel)]="year" (ngModelChange)="selectYear($event)">
                        <option value="2025">2025</option>
                        <option value="2024">2024</option>
                        <option value="2023">2023</option>
                    </select>
                </div>
                <div *ngIf="!isStatistic">
                    Không có dữ liệu của năm này
                </div>
                <div style="display: block; width: 90%; height: 80%;" *ngIf="isStatistic">
                    <canvas baseChart
                            [datasets]="[{ data: chartData, label: 'Total Revenue' }]"
                            [labels]="chartLabels"
                            [options]="chartOptions"
                            [legend]="true"
                            >
                    </canvas>
                  </div>
            </div>
        </div>
    </div>
</div>