.wrapper{
    display: flex;
     flex-direction: row;
     position: relative;
     top: 0;
     left: 0;
     background-color: #EEEEEE;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .statistic{
    margin-left: 250px;
    margin-top: 50px;
    padding: 20px;
}
.top {
    display: grid;
    grid-template-columns: auto auto auto;
}
.top div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
}
.bottom{
    margin-top: 50px;
}
.filter {
    display: flex;
     flex-direction: row;
}