.wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 350px;
    margin-right: 350px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.step-1 {
    display: flex;
    flex-direction: row;
}
.payment-header, .tour-header{
    font-size: 24px;
    font-weight: 600;
}
.payment{
    width: 60%;
    margin-right: 20px;
}
.tour{
    width: 40%;
}
.payment-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tour-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.payment-info input{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
}
.payment-info button{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    margin-top: 20px;
    color: white;
    background-color: #DD5746;
    border: none;
    font-weight: 600;
}
.payment-info button:hover{
    background-color: #8B322C;
}
.tour-name {
    font-size: 20px;
    font-weight: 600;
}
.tour-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}