<app-site-navbar></app-site-navbar>
<div class="wrapper">
   <div class="step-1">
        <div class="payment-info">
            Điền thông tin liên hệ
            <div>Họ và tên*
                <input> 
            </div>
            <div>Email*
                <input> 
            </div>
            <div>Số điện thoại*
                <input> 
            </div>
        </div>
        <div class="tour-info">
            Thông tin đặt Tour
            <div>{{tourName}}</div>
            <div>Ngày khởi hành: {{departureDate}}</div>
            <div>Số khách: {{num}}</div>
            <div>Giá tiền: {{tourPrice}}</div>
        </div>
   </div>
</div>

