

<div class = "wrapper">
    <app-management-sidebar></app-management-sidebar>
    <div class="wrap-management">
        <app-management-navbar></app-management-navbar>
        <div class="list-tour-type">
            <div class="list-tour-header">
                <div class="title">Danh sách Tour</div>
                <button routerLink="/admin/tour/add" >Thêm Tour</button>
            </div>
         
            <table>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ảnh Tour</th>
                        <th>Tên Tour</th>
                        <th>Trạng thái</th>
                        <th>Ngày tạo</th>
                        <th>Người tạo</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let type of tour.reverse(), let i = index">
                        <ng-container *ngIf="pageItem().includes(tour.length - i)" >
                       
                            <td>{{type.tourId}}</td>
                            <td><img width="200px" height="100px" [src]="listFirstImg.get(type.tourId)"></td>
                            <td>{{type.tourName}}</td>
                            <td>
                                <ng-container  *ngIf="type.tourStatus == 'running'" ><fa-icon class="fa-lg" [icon]="faOn" [style]="{color: 'blue'}"></fa-icon></ng-container>
                                <ng-container *ngIf="type.tourStatus != 'running'" ><fa-icon  class="fa-lg" [icon]="faOff" [style]="{color: 'red'}"></fa-icon></ng-container>
                            </td>
                            <td>{{type.createDate}}</td>
                            <td>{{type.userId}}</td>
                            <td class="iconAction">
                                <div (click)="statusAction(type.tourId)"><fa-icon [icon]="faAction"></fa-icon></div>
                                
                                <div *ngIf="isAction && (type.tourId == id)" class="action">
                                   
                                    <div routerLink="/admin/tour/edit/{{type.tourId}}">Sửa</div>
                                    <div>Xóa</div>
                                </div> 
                            </td>
                        </ng-container>
                       
                    </tr>
                </tbody>
            </table>
                <div class="page">
                        <ng-container *ngFor="let page of loadPage()">
                            <div (click)="pageClick(page)">
                                {{page}}
                            </div>
                            
                        </ng-container>
                 </div>
        </div>
    </div>
</div>

