<div class="wrapper">
    <div class="sort">
        <select (change)="sortTour()" [(ngModel)] = "chooseSort">
            <option value="">Không sắp xếp</option>
            <option value="low" >Giá tăng dần</option>
            <option value="high">Giá giảm dần</option>
        </select>
    </div>
    <ng-container *ngIf="isNull">
        <div>Hiện tại không có Tour</div>
    </ng-container>
    <ng-container *ngIf="isLoad" >
        <div class="tour"  *ngFor="let tour of array, let i = index">
            <ng-container>
                 <div class="tourImg">
                    <div>Đang load</div>
                 </div>
                 <div class="tourInfo">
                     <div class="tour-location"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 384 512" style="width: 20px; height: 20px"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                        Đang load
                     </div>
                     <div class="tour-name">Đang load</div>
                     <div class="tour-type">Đang load</div>
                     <div class="tour-price">Đang load</div>
                 </div> 
            </ng-container> 
            
         </div>
    </ng-container>
   <ng-container *ngIf="!isLoad">
    <div>
        <div class="tour" routerLink="/tour/{{tour.tourId}}"  *ngFor="let tour of tourList, let i = index">
           <ng-container *ngIf="pageItem().includes(i) && tour.tourStatus == 'on'">
                <div class="tourImg">
                    <img width="250px" height="150px" [src]="listFirstImg.get(tour.tourId)">
                </div>
                <div class="tourInfo">
                    <div class="tour-location"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 384 512" style="width: 20px; height: 20px"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                        {{tour.tourPlace}}
                    </div>
                    <div class="tour-name">{{tour.tourName}}</div>
                    <div class="tour-type">{{tour.tourType}}</div>
                    <div class="departureDate"> {{tour.departureDate.split('T')[0]}}</div>
                    <div class="tour-price">{{tour.tourPrice}} VND</div>
                </div> 
           </ng-container> 
        </div>
    </div>
   </ng-container>

    <div class="more" (click)="nextPage()" *ngIf="page < maxPage">
        Xem thêm
    </div>
    
   
  
</div>

