<app-site-navbar></app-site-navbar>
<div class="wrapper">
    <div class="register-form">
        <div class="image"><img src="assets/image/image.jpg" width="300px" height="500px"></div>
       <div class="register">
        <div class="register-title">Đăng ký tài khoản</div>
        <div>Email<input placeholder="Nhập email của bạn"></div>
        <div>Mật khẩu<input type="password" placeholder="Nhập mật khẩu của bạn"></div>
        <div>Họ<input placeholder="Nhập họ của bạn"></div>
        <div>Tên<input placeholder="Nhập tên của bạn"></div>
        <button>Đăng ký</button>
       </div>
    </div>
   
</div>


