<div class="navbar">
    <a class="nav-left" routerLink="" >
        <div class="logo">S-Travel</div>
        <div class="slogan">Đưa bạn đi muôn nơi!</div>
    </a>
    <div class="nav-mid">
        <a>Giới thiệu</a>
        <a routerLink="/tour" routerLinkActive="active" class="tour">Tour</a>
        <a class="hotel">Khách sạn</a>
        <a>Tin tức</a>
        <a>Liên hệ</a>
    </div>
    <div *ngIf="fullName == ''" class="nav-right">
        <a routerLink="/login" class="login">Đăng nhập</a>
        <a routerLink="/register"class="register">Đăng ký</a>
    </div>
    <div class="user" *ngIf="fullName != '' " >
        <div>Xin chào, {{fullName}}</div>
        <div (click)="popupUSer = !popupUSer"><fa-icon class="fa fa-2x" [icon]="faUser" > </fa-icon>
        </div> 
        <div class="popupUSer" *ngIf="popupUSer">
            <div routerLink="/user/info">Thông tin tài khoản</div>
            <div routerLink="/user/history">Lịch sử đặt Tour</div>
            <a (click)="logout()">Đăng xuất</a>
        </div>
        
    </div>
    
</div>