.sidebar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    align-items: center;
    border-right: 1px solid #C7C8CC;
    transition: all 0.5s ease-out;
    position: fixed;
    z-index: 99;
}
.logo{
    display: flex;
    align-items: center;
    height: 20%;
    font-weight: 600;
    font-size: 24px;
    color: black;
}
.list-item{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    
}

.list-item span{
    padding-left: 20px;
}
.menu-parent:hover{
    cursor: pointer;
    font-weight: 600;
}
.logout{
    height: 10%;
}
.menu-item{
    height: 30px;
    justify-content: center;
    border-left: 5px solid;
    border-left-color: rgb(0,0,0,0);
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu-item:hover{
    cursor: pointer;
    background-color: #C7C8CC;
}
.active {
    box-sizing: border-box;
    color: #DD5746;
    font-weight: 600;
    position: relative;
    border-left-color: #DD5746;
}
.hide {
    width: 70px;
    transition: all 0.5s ease-out;
   
}
.hide span{
    display: none;
}


.menu-child{
    width: 100%;
    padding-left: 50px;
    box-sizing: border-box;
}
.menu-child:hover{
    cursor: pointer;
}