.sidebar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    align-items: center;
    border-right: 1px solid #C7C8CC;
    transition: all 0.5s ease-out;
}
.logo{
    display: flex;
    align-items: center;
    height: 20%;
    font-weight: 600;
    font-size: 24px;
    color: black;
}
.list-item{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
}
.list-item div{
    box-sizing: border-box;
    padding: 10px 10px 10px 25px;
    margin-bottom: 10px;
  
}
.list-item span{
    padding-left: 20px;
}
.list-item div:hover{
    cursor: pointer;
    font-weight: 600;
}
.logout{
    height: 10%;
}
.menu-item{
    border-left: 5px solid;
    border-left-color: rgb(0,0,0,0);
}
.active {
    color: #DD5746;
    font-weight: 600;
    position: relative;
    width: 95%;
    border-left-color: #DD5746;
}
.hide {
    width: 70px;
    transition: all 0.5s ease-out;
   
}
.hide span{
    display: none;
}
.hide div{
    padding: 10px;
}