<div class="order-detail">
    <div class="user-info">
        <div class="header">Thông tin người đặt </div>
        <div class="item">
            <div>Họ và tên:</div>
            <div>Duong</div>
        </div>
        <div class="item">
            <div>Email:</div>
            <div>{{orderDetails.email}}</div>
        </div>
        <div class="item">
            <div>Số điện thoại:</div>
            <div>{{orderDetails.phoneNumber}}</div>
        </div>
        <div class="item">
            <div>Lưu ý:</div>
            <div>{{orderDetails.orderDescription}}</div>
        </div>
    </div>
    <div  class="tour-info">
        <div class="header">Thông tin của Tour:</div>
        <div class="item">
            <div>Tên Tour:</div>
            <div>{{tour.tourName}}</div>
        </div>
        <div class="item">
            <div>Mã đơn:</div>
            <div>{{orderDetails.orderCode}}</div>
        </div>
        <div class="item">
            <div>Thời gian thanh toán:</div>
            <div>{{orderDetails.createdDate}}</div>
        </div>
        <div class="item">
            <div>Thời gian khởi hành:</div>
            <div>{{orderDetails.departureDate}}</div>
        </div>
        <div class="item">
            <div>Số người:</div>
            <div>{{orderDetails.totalPeople}}</div>
        </div>
        <div class="item">
            <div>Tổng tiền:</div>
            <div>{{orderDetails.totalPrice}}</div>
        </div>
        <div class="item">
            <div>Trạng thái</div>
            <div>{{orderDetails.status}}</div>
        </div>
        <div class="update" *ngIf="orderDetails.status != 'Đã thành công' && orderDetails.status != 'Hoàn tiền'">
            <div>Trạng thái mới</div>
            <select [(ngModel)]="status">
                <option *ngIf="orderDetails.status != 'Hoàn tiền' && orderDetails.status != 'Đã thanh toán' "   >Đã thanh toán</option>
                <option *ngIf="orderDetails.status == 'Đã thanh toán' ">Hoàn tiền</option>
                <option  value="Đã thành công" *ngIf="orderDetails.status != 'Thanh toán thất bại' ">Đã thành công</option>
            </select>
            <div class="refund" *ngIf="status == 'Hoàn tiền'  ">
                <div>Số tiền hoàn</div>
               <select [(ngModel)]="refund">
                <option value="75">75%</option>
                <option value="50">50%</option>
                <option value="25">25%</option>
               </select>
            </div>
            <button (click)="updateOrder()">Cập nhật trạng thái mới</button>
        </div>
    </div>
</div>
